.vscode/
**/node_modules/
**/package-lock.json
**/pnpm-lock.yaml
/server/public/sets/*.svg
**/dist/
.pnpm-store/
.env
.env.*
!.env.example
coverage/
playwright-report/
test-results/
*.log
*.tmp
/server/config.json
